.cover {
    display: flex;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    padding-bottom: 22vh;
}

@media (min-width: 40.0rem) {    
    .cover {
        padding-bottom: 10vh;
    }
}