.container {
    margin: 0 auto;
    max-width: 50.0rem;
    padding: 0;
    position: relative;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.column {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
    margin-bottom: 1rem;
}

@media (min-width: 40.0rem) {
	.row {
		flex-direction: row;
		margin-left: -1.0rem;
        width: calc(100% + 2.0rem);

		.column {
			margin-bottom: inherit;
            padding: 0 1.0rem;
        }
    }
}