a {
    color: $color-primary;
    text-decoration: none;
    &:hover {
        color: $color-secondary;
    }
}

.resume, .github, .linkedin {
    font-size: 2.4rem;
    font-weight: 500;
}

.github {
    margin: 0 10rem;
}