@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hubot Sans";
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url(/src/fonts/Hubot-Sans.woff2) format("woff2-variations");
}

@font-face {
  font-family: "Satoshi";
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url(/src/fonts/Satoshi-Variable.ttf) format("truetype-variations");
}


.font-semi-expanded {
  font-stretch: 112.5%;
}

.font-expanded {
  font-stretch: 125%;
}

.text-gradient {
  background: linear-gradient(to right, #F77062, #FE5196);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.noise {
  background: transparent url('100-90-3.png') repeat 0 0;
  background-repeat: repeat;
}
